out/*
data/filestore/*
data/clipping/*
data/saves/*
data/logs/*
.idea/*
target/
out/production/Velrai/com/ferox/game/content/areas/burthope/warriors_guild/dialogue/Shanomi.class
*.class
*.iml
.gradle/
build/
*.zip
*.dat
*.gz
functions/
functions/*.jar
dependency-reduced-pom.xml
1 serv.bat
.profileconfig.json
.idea
Cryptic-GameServer.iml
votes.ini
mvnw
mvnw.cmd
#pom.xml
.mvn/
libs/functions-1.93.0.jar
settings.toml
