out/*
data/filestore/*
data/clipping/*
data/saves/*
data/logs/*
.idea/*
target/
out/production/Velrai/com/ferox/game/content/areas/burthope/warriors_guild/dialogue/Shanomi.class
*.class
*.iml
*.zip
*.dat
data/cache/main_file_cache.idx0
data/cache/main_file_cache.idx1
data/cache/main_file_cache.idx10
data/cache/main_file_cache.idx11
data/cache/main_file_cache.idx12
data/cache/main_file_cache.idx13
data/cache/main_file_cache.idx14
data/cache/main_file_cache.idx15
data/cache/main_file_cache.idx16
data/cache/main_file_cache.idx17
data/cache/main_file_cache.idx18
data/cache/main_file_cache.idx19
data/cache/main_file_cache.idx2
data/cache/main_file_cache.idx20
data/cache/main_file_cache.idx21
data/cache/main_file_cache.idx255
data/cache/main_file_cache.idx3
data/cache/main_file_cache.idx4
*.gz
data/cache/main_file_cache.dat2
data/cache/main_file_cache.idx5
data/cache/main_file_cache.idx6
data/cache/main_file_cache.idx7
data/cache/main_file_cache.idx8
data/cache/main_file_cache.idx9
src/main/resources/log4j2-dev.xml
